## Assignment 2 

## Tasks 

1. Stage data
2. Clean up column names 
3. Create a Data Profiling Function

In [3]:
from IPython.core.display import display, HTML
from IPython.display import clear_output
display(HTML("<style>.container { width:90% }</style>"))
import warnings
warnings.filterwarnings('ignore')
# ------------------------------------------------------------------

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# -- need this to render charts in notebook -- 
%matplotlib inline

In [4]:
df = pd.read_csv("./data/churn.csv",na_values="?")
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [5]:
df.columns = ( df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('-', '_')
    .str.replace('(', '')
    .str.replace(')', '')
    .str.replace('?', '')
    .str.replace('\'', '') # notice the backslash \ this is an escape character
)
print(df.columns)

Index(['state', 'account_length', 'area_code', 'phone', 'intl_plan',
       'vmail_plan', 'vmail_message', 'day_mins', 'day_calls', 'day_charge',
       'eve_mins', 'eve_calls', 'eve_charge', 'night_mins', 'night_calls',
       'night_charge', 'intl_mins', 'intl_calls', 'intl_charge',
       'custserv_calls', 'churn'],
      dtype='object')

### Functions 101
----

Every python programer needs to know how to write functions. You start your function with a def function_name(parm1): 

your function will produce a table 

|column name | data type |count |nunique | 
|-----|-------|------|------|------| 
|Hanna|Brisbane|4000| | |
|Adam|Sydney|5000| | |

In [7]:
def summary_stats(df):
    """ Generate summary statsitics for a panda's data frame 
        
        Args:
            df (DataFrame): panda's dataframe to create summary statisitcs for.
    
        Returns:
            DataFrame of summary statistics 
    """
    df = df.copy()
    rowcnt = len(df)
    df_s1  = df.agg(['count', 'nunique']).transpose().reset_index().rename(columns={"index":"_column"})
    df_s1["null"] = (rowcnt - df_s1["count"]).astype('int64')
    df_s1["not_null"] = rowcnt - df_s1["null"]
    df_s1["null_pct"] = df_s1["null"] / rowcnt
    df_s1["nunique_pct"] = df_s1['nunique']/ rowcnt
    dt = pd.DataFrame(df.dtypes).reset_index().rename(columns={"index":"_column", 0:"_dtype"})
    df_stats = pd.merge(dt, df_s1, on='_column', how='inner').round(4)
    df_stats['nunique'] = df_stats['nunique'].astype('int64')
    df_stats['count'] = df_stats['count'].astype('int64')
    
    # -- null check 
    df_stats['null_check'] =  df_stats['null_pct'].apply(lambda x: 'Pass' if x <= 0.5 else '-- Fail --')
    # -- unique check 
    df_stats['nunique_check'] =  df_stats['nunique_pct'].apply(lambda x: 'Pass' if x <= 0.5 else '-- Fail --')
    # -- target check 
    

    print("--- summary stats ---")
    print(df_stats)
    print("\n")
    return df_stats

In [8]:
summary_stats(df)

--- summary stats ---
           _column   _dtype  count  nunique  null  not_null  null_pct  \
0            state   object   3333       51     0      3333       0.0
1   account_length    int64   3333      212     0      3333       0.0
2        area_code    int64   3333        3     0      3333       0.0
3            phone   object   3333     3333     0      3333       0.0
4        intl_plan   object   3333        2     0      3333       0.0
5       vmail_plan   object   3333        2     0      3333       0.0
6    vmail_message    int64   3333       46     0      3333       0.0
7         day_mins  float64   3333     1667     0      3333       0.0
8        day_calls    int64   3333      119     0      3333       0.0
9       day_charge  float64   3333     1667     0      3333       0.0
10        eve_mins  float64   3333     1611     0      3333       0.0
11       eve_calls    int64   3333      123     0      3333       0.0
12      eve_charge  float64   3333     1440     0      3333       0.0
13      night_mins  float64   3333     1591     0      3333       0.0
14     night_calls    int64   3333      120     0      3333       0.0
15    night_charge  float64   3333      933     0      3333       0.0
16       intl_mins  float64   3333      162     0      3333       0.0
17      intl_calls    int64   3333       21     0      3333       0.0
18     intl_charge  float64   3333      162     0      3333       0.0
19  custserv_calls    int64   3333       10     0      3333       0.0
20           churn   object   3333        2     0      3333       0.0

    nunique_pct null_check nunique_check
0        0.0153       Pass          Pass
1        0.0636       Pass          Pass
2        0.0009       Pass          Pass
3        1.0000       Pass    -- Fail --
4        0.0006       Pass          Pass
5        0.0006       Pass          Pass
6        0.0138       Pass          Pass
7        0.5002       Pass    -- Fail --
8        0.0357       Pass          Pass
9        0.5002       Pass    -- Fail --
10       0.4833       Pass          Pass
11       0.0369       Pass          Pass
12       0.4320       Pass          Pass
13       0.4773       Pass          Pass
14       0.0360       Pass          Pass
15       0.2799       Pass          Pass
16       0.0486       Pass          Pass
17       0.0063       Pass          Pass
18       0.0486       Pass          Pass
19       0.0030       Pass          Pass
20       0.0006       Pass          Pass

,_column,_dtype,count,nunique,null,not_null,null_pct,nunique_pct,null_check,nunique_check
0,state,object,3333,51,0,3333,0.0,0.0153,Pass,Pass
1,account_length,int64,3333,212,0,3333,0.0,0.0636,Pass,Pass
2,area_code,int64,3333,3,0,3333,0.0,0.0009,Pass,Pass
3,phone,object,3333,3333,0,3333,0.0,1.0000,Pass,-- Fail --
4,intl_plan,object,3333,2,0,3333,0.0,0.0006,Pass,Pass
5,vmail_plan,object,3333,2,0,3333,0.0,0.0006,Pass,Pass
6,vmail_message,int64,3333,46,0,3333,0.0,0.0138,Pass,Pass
7,day_mins,float64,3333,1667,0,3333,0.0,0.5002,Pass,-- Fail --
8,day_calls,int64,3333,119,0,3333,0.0,0.0357,Pass,Pass
9,day_charge,float64,3333,1667,0,3333,0.0,0.5002,Pass,-- Fail --
10,eve_mins,float64,3333,1611,0,3333,0.0,0.4833,Pass,Pass
11,eve_calls,int64,3333,123,0,3333,0.0,0.0369,Pass,Pass
12,eve_charge,float64,3333,1440,0,3333,0.0,0.4320,Pass,Pass
13,night_mins,float64,3333,1591,0,3333,0.0,0.4773,Pass,Pass
14,night_calls,int64,3333,120,0,3333,0.0,0.0360,Pass,Pass
15,night_charge,float64,3333,933,0,3333,0.0,0.2799,Pass,Pass
16,intl_mins,float64,3333,162,0,3333,0.0,0.0486,Pass,Pass
17,intl_calls,int64,3333,21,0,3333,0.0,0.0063,Pass,Pass
18,intl_charge,float64,3333,162,0,3333,0.0,0.0486,Pass,Pass
19,custserv_calls,int64,3333,10,0,3333,0.0,0.0030,Pass,Pass
20,churn,object,3333,2,0,3333,0.0,0.0006,Pass,Pass